* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;;
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
}

header img {
    height: 100px;
    margin-top: 80px;
    margin-left: 10px;
}

